.chat-container .header {
    color: #ffffff;
    background-color: #037BFE;
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
}
.chat-container .conversation-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #dbdbdb;
}
.chat-container .conversation-detail{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat-container .list-messages{
    flex-grow: 1;
}
#send-message-form{
    padding: 22px 15px;
    position: relative;
    border-top: 1px solid #dbdbdb;
}
#send-message-form input{
    border: none;
    width: 100%;
    outline: 0;
}
#send-message-form button{
    position: absolute;
    bottom: 14px;
    right: 10px;
}
.chat-container{
    height: 100vh;
}
.chat-container .main{
    height: calc(100vh - 64px);
}
.list-messages .message .message-content{
    background-color: #dbdbdb;
    padding: 10px;
    border-radius: 8px;
    max-width: 45%;
    width: max-content;
    
}
.list-messages .message-mine{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.list-messages .message.message-mine .message-content{
    color: #ffffff;
    background-color: #037BFE;
}
.list-messages{
    padding: 10px;
    overflow: auto;
}
.list-messages .message .name{
    font-size: 13px;
}