.login-container{
    height: 100vh;
    display: flex;
}
.login-container .form-wrapper {
    width: 30%;
    height: 100%;
}
.login-container .background-image {
    width: 70%;
    height: 100%;
    background-size: cover;
    background-image: url(../IMG/login-background.jpg);
}

.login-container .register-header {
    text-align: center;
    margin: 40px 0 25px 0;
    font-size: 40px;
    font-family: sans-serif;
    color: #717171;
    font-weight: 500;
}
.login-container #login-form{
    padding: 0 20px;
}
.login-container .login-form-action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
